<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
</head>
<body>
    <h1>Movie Details</h1>
    <ul>
        <li>Title: {{ movie.title }}</li>
        <li>Year: {{ movie.year }}</li>
        <li>Type: {{ movie.type }}</li>
        <li>Genre: {{ movie.genre }}</li>
        <li>Director: {{ movie.director }}</li>
        <li>Writer: {{ movie.writer }}</li>
        <li>Actors: {{ movie.actors }}</li>
        <li>Awards: {{ movie.awards }}</li>
        <li>Rating: {{ movie.rating }}</li>
    </ul>
    <h2>Reviews</h2>
    <ul>
        {% for review in movie.reviews.all %}
            <li>{{ review.review_text }} - Rating: {{ review.rating }}
                <form action="{% url 'omdb_api:reviewDelete' review.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <h2>Add a Review</h2>
    <form method="post">
        {% csrf_token %}
        <label for="review_text">Review:</label>
        <input type="text" name="review_text" id="review_text">
        <label for="rating">Rating:</label>
        <input type="number" name="rating" id="rating" min="1" max="10">
        <button type="submit">Submit Review </button>
    </form>
    <button><a href="{% url 'omdb_api:list' %}"> < Back </a></button>
    <button><a href="{% url 'omdb_api:search' %}">Search more</a></button>
    <button><a href="{% url 'omdb_api:update' movie.pk %}">Update</a></button>
    <button><a href="{% url 'omdb_api:delete' movie.pk %}">Delete</a></button>
</body>
</html>